
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Build
      working-directory: ./src/Serilog.Enrichers.Correlation
      run: dotnet build --configuration Release
    - name: Test
      working-directory: ./src/Serilog.Enrichers.Correlation.Tests
      run: dotnet test --configuration Release --no-build